{% extends "layout.html" %}
{% block content %}
<!-- To unify into CSS file later.  -->
<style>
    body{
    font-size: 1.5rem;
}
.topic-title{
    font-weight: bold;
    font-size: 3rem;
}
.highlight{
    font-weight: bold;
    font-size: 2rem;
}
.concept{
    margin: 50px 0;
}

.layer-img{
    height: 200px;
    width: auto;
}

/* To sort out later */

.layer-stack {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 1rem;
  }

/* SEE SAW */

.layer-box {
    background-color: #a4c8ff;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 10px;
    border: 1px solid #333;
    font-weight: bold;
    width: 180px;
    text-align: center;
  }
  
  #seesaw-scene {
    margin-top: 2rem;
    position: relative;
    height: 300px;
  }
  
  .seesaw {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
    width: 600px;
    height: 10px;
    background: #111;
    z-index: 0;
  }
  
  .triangle {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #a4c8ff;
    z-index: 1;
  }
  
  .left-stack, .right-stack {
    z-index: 2;
  }
  
</style>

<div>
    <span class="topic-title">Weather</span> is hard to dress for because we need to consider 3 things
</div>

<div class="concept">
    <div>
        <span class="highlight">Temperature</span> is a numerical measure for how hot it is.
    </div>
    <div class="container">
        <div class="row" id="temperature-section">
        </div>
    </div>
  </div>
  

 <div class="concept">
    <div>
        <span class="highlight">Conditions</span> affect how the temperature feels like.
    </div>
    <div class="container">
        <div class="row" id="conditions-section">
        </div>
    </div>
</div>
  
<div class="concept">
    <div>
        <span class="highlight">Humidity</span> tells us how easy it will be to cool off.
    </div>
    <div class="container">
        <div class="row" id="humidity-section">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='weather.js') }}"></script>
{% endblock %}
