{% extends "layout.html" %}
{% block content %}
<!-- To unify into CSS file later.  -->
<style>
.weather-img{
    height: 200px;
    width: auto;
    border-radius: 2rem;
}

.weather-title{
    margin-bottom: 1rem;
}


  /* Progress triangle things */
  #progress {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#progress svg {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.progress-btn:hover {
  fill: #4CAF50;
};
  
</style>

<div>
    <span class="topic-title">Weather</span> is hard to dress for because we need to consider 3 things
</div>

<div class="concept">
    <div class="weather-title">
        <span class="highlight">Temperature</span> is a numerical measure for how hot it is.
    </div>
    <div class="container">
        <div class="row" id="temperature-section">
        </div>
    </div>
  </div>
  

 <div class="concept">
    <div class="weather-title">
        <span class="highlight">Conditions</span> affect how the temperature feels like.
    </div>
    <div class="container">
        <div class="row" id="conditions-section">
        </div>
    </div>
</div>
  
<div class="concept">
    <div class="weather-title">
        <span class="highlight">Humidity</span> tells us how easy it will be to cool off.
    </div>
    <div class="container">
        <div class="row" id="humidity-section">
        </div>
    </div>
</div>
<div class="concept">
    <div id="progress">

    </div>
  </div>
{% endblock %}


{% block scripts %}
<script>
  window.triangleData = {{ visit_log | tojson }};
</script>
<script src="{{ url_for('static', filename='triangle.js') }}"></script>
<script src="{{ url_for('static', filename='weather.js') }}"></script>
{% endblock %}